{
  "layer": "top",
  //"height": 32,
  //"spacing": 6,


  "modules-left": ["hyprland/workspaces", "custom/arrow1", "hyprland/window"],
  "modules-right": [
    "custom/arrow2",
    "pulseaudio",
    "network",
    "custom/arrow3",
    "cpu",
    "memory",
    "battery",
    "custom/arrow4",
    "clock#date",
    "clock#time",
    "tray"
  ],

  "hyprland/window": {
    "max-length": 200,
    "separate-outputs": true
  },

  "hyprland/workspaces": {
    "format": "{icon}",
    "on-scroll-up": "previous",
    "on-scroll-down": "next",
    "sort-by": "id",
    "persistent-workspaces": {
      "eDP-1": [1,2,3]
    }
    //"format-icons": {
    //  "6": "1",
    //  "7": "2",
    //  "8": "3",
    //  "9": "4",
    //  "10": "5"
    //}
  },
  "tray": {
    "spacing": 4
  },
  "clock#time": {
    "interval": 10,
    "format": "{:%H:%M}  ",
    "tooltip": false,
    "min-length": 10
  },
  "clock#date": {
    "interval": 60,
    "format": "{:%a %e/%m }  ",
    "on-click": "karlender",
    "tooltip": false,
    "min-length": 14
  },
  "battery": {
    "interval": 10,
    "states": {
        "warning": 20,
        "critical": 10
    },
    "format": "{capacity}% {icon}",
    "format-charging": "{capacity}% 󰢞 ",
    "format-icons": [" ", " ", " ", " ", " "],
    "min-length": 10
  },
  "cpu": {
    "format": "CPU {usage}%  ",
    "states": {
      "warning": 80,
      "critical": 90
    },
    "min-length": 12
  },
  "memory": {
    "format": "RAM {used:0.1f} GB  ",
    "tooltip-format": "{used:0.1f}GB / {total:0.1f}GB",
    "states": {
      "warning": 80,
      "critical": 90
    },
    "min-length": 16
  },
  "network": {
    "interval": 2,
    "format-wifi": " {bandwidthDownBits} |  {bandwidthUpBits}   ",
    "format-ethernet": " {bandwidthDownBits} |  {bandwidthUpBits}   ",
    "format-disconnected": "Disconnected ⚠",
    //"format-alt": "{ifname}: {ipaddr}/{cidr}",
    "tooltip-format": "{ifname}: {ipaddr}/{cidr}",
    "on-click": "nm-connection-editor",
    "on-click-right": "nm-applet",
    "min-length": 26
  },
  "pulseaudio": {
    "scroll-step": 5,
    "format": "{icon}   {volume}%  {format_source}",
    "format-muted": "  {format_source}",
    "format-source": "",
    "format-source-muted": "<span color=\"#fb4833\"> </span>",
    "format-icons": {
      "default": ["", " ", " "]
    },
    "on-click": "pavucontrol",
    "min-length": 12
  },
  "custom/arrow1": {
    "format": "",
    "tooltip": false
  },
  "custom/arrow2": {
    "format": "",
    "tooltip": false
  },
  "custom/arrow3": {
    "format": "",
    "tooltip": false
  },
  "custom/arrow4": {
    "format": "",
    "tooltip": false
  }
}
